/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import 'animate.css';
@font-face {
  font-family: "bold";
  src: url("./assets/fonts/alfont_com_Parastoo-Bold.ttf");
}

@font-face {
  font-family: "regular";
  src: url("./assets/fonts/Mooli-Regular.ttf");
}

*, html , body{
  font-family: "regular" ;
}
ion-button{
  text-transform: none !important;
  animation: fadeIn 0.3s ease-in-out;
  --box-shadow:none;
}
.content-container{
  margin-bottom: 40px !important;
}
ion-toolbar{
  // --background: var(--ion-color-primary) !important;
  // ion-title{
  //   color: #fff;
  // }
}
p, h1,h2,h3,h4,h5,h6{
  margin: 0;
}
ion-content{
  --background: #F4F4F4 !important;

}
.os-padding{
  padding: 16px;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.circle{
  border-radius: 50%;
}
.os-margin{
  margin: 16px ;
}
.lift-40px{
  margin-bottom: 40px !important;
}
.lift-50px{
  margin-bottom: 50px !important;
}
.error-message{
  color: red !important;
  opacity: 0.8 !important;
}
// Common classes
a{
  text-decoration: none;
}
.no-mp{
  padding: 0 !important;
  margin: 0 !important;
}
.border-12{
  border-radius: 12px;
}
.border-4{
  border-radius: 4px;
}
.border-8{
  border-radius: 8px;
}

.no-m{
  margin: 0 !important;
}
.margin-buttom-40px{
  margin-bottom: 40px !important;
}
.primary{
  color: var(--ion-color-primary) !important;
}
.fb-16{
  font-size: 16px;
  color: var(--ion-color-secondary);
  font-family: "bold";
}
.fb-20{
font-size: 20px;
color: var(--ion-color-secondary);
font-family: "bold";
}
.fb-14{
  font-size: 14px;
  color: var(--ion-color-secondary);
  font-family: "bold";
}

.fb-12{
  font-size: 12px;
  color: var(--ion-color-secondary);
  font-family: "bold";
}

.fb-10{
  font-size: 10px;
  color: var(--ion-color-secondary);
  font-family: "bold";
}


.fr-16{
  font-size: 16px;
  color: var(--ion-color-secondary);
  font-family: "regular";
}


.fr-14{
  font-size: 14px;
  color: var(--ion-color-secondary);
  font-family: "regular";
}

.fr-12{
  font-size: 12px;
  color: var(--ion-color-secondary);
  font-family: "regular";
}

.fr-10{
  font-size: 10px;
  color: var(--ion-color-secondary);
  font-family: "regular";
}

.c-white{
  color: #fff !important;
}

.p-start{
  padding-inline-start: 16px !important;
}

.p-end{
  padding-inline-end: 16px !important;
}
.p-top{
  padding-top: 16px !important;
}

.p-bottom{
  padding-bottom: 16px !important;
}

.m-start{
  margin-inline-start: 16px !important;
}

.m-end{
  margin-inline-end: 16px !important;
}
.m-top{
  margin-top: 16px !important;
}
.m-top-8{
  margin-top: 8px !important;
}
.m-top-10{
  margin-top: 10px !important;
}
.m-bottom{
  margin-bottom: 16px !important;
}

.m-bottom-8{
  margin-bottom: 8px !important;
}
.d-flex{
  display: flex !important;
}
.mb-16{
  margin-bottom: 16px !important;
}
.mb-8{
  margin-bottom: 8px !important;
}
.p-8{
padding: 8px !important;
}
.d-flex-sb{
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}
.text-20{
  font-size: 20px !important;
  font-family: "bold";
  font-weight: 600;
}
.c-secondary{
  color: var(--ion-color-secondary) !important;
}
.fade-fast{
  animation-duration: 0.3s;
}
// Skeleton Loader Classes
.user-avatar-skeleton{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.username-skeleton{
  width: 100px;
}
// Ionic Button
.hover{
  &:active{
      background: #15487521;
  }
}

.filter-posts-popover, ion-popover, ion-alert{
  backdrop-filter: blur(3px);
  transition: all 0.3s ease-in-out;
  animation: fadeIn 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.01) !important;
}
